{% extends 'pril1/base.html' %}
{% block title %}
Погода на сегодня
{% endblock %}
{% block content %}
<div class="contrainer mt-5">
    <div   >
        <div class="col-5 offset-1">
            <form action="">
                <label for="city">Город</label>
                <input type="text" id="city" class="form-control" name="city" placeholder="Введите город">
                <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-dnage">
            </form>
            <div class="float-right" >
                <h1>Информация</h1>
                <div class="alert alert-danger">
                    <div class="alert alert-danger">
                        <b>Город:</b>{{ info.city }}<br>
                        <b>Температура:</b>{{ info.temp }}<sup>o</sup><br>
                        <b>Максимальная температура в моменте:</b>{{ info.temp_max }}<br>
                        <img src="http://openweathermap.org/img/w{{ info.icon }}.png" alt="Фото погоды" class="img-thunbnail">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
col-4 offset-1